h1 { 
  text-align: center;
  color: white;
  font-family:wishful;
}
h1:hover {
  color: blue;
}

h2 { 
  text-align: center;
  font-family:fun;
}


img {
  opacity: 0.8;
  background: beige;
  border: 2px solid #33ccff;
  height: 2150px;
  width: 1150px;
}

body {
  
  text-align: center;
}


.topnav {
  overflow: hidden;
  background-color: rgb(34, 34, 34);
}

.topnav a {
  float: left;
  color: #0eaedfa6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: flex;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.sticky {
  position: sticky;
  margin: 0px;
  top: 0px;
  z-index: 1;
}

@media (min-width: 300px), (min-wdth: 400px) {
   img { height: 320px; width: 340px; }
   .column { height: 200px; }

.accordion {
    background-color: rgba(255, 255, 255, 0);
    color: black;
    cursor: pointer;
    font-family: fun;
    padding: 10px;
    width: 100%;
    text-align: center;
    outline: none;
    transition: .4s;

  }
  .accordian:hover {
    background-color: white;
  }
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 190px; 
  background-color: rgb(255, 255, 255);
  border: 3px dotted yellow;
}

.row:after {
  display: table;
  clear: both;
}



.button {
  background: inherit;
  cursor: pointer;
  padding: 5px 5px;
  text-decoration: none;
}

.imageborder1 {
  border: 10px solid transparent;
  padding: 0px;
  border-image: url(greenborder.jpg) 20% round;
  border-image-slice: 15;
  width: 50%;
}

.imageborder2 {
  border: 10px solid transparent;
  padding: 0px;
  border-image: url(yellowborder.png) 20% round;
  border-image-slice: 15;
  width: 50%;
}

.imageborder3 {
  border: 10px solid transparent;
  padding: 0px;
  border-image: url(redborder.png) 20% round;
  border-image-slice: 10;
  width: 50%;
}

.imageborder4 {
  border: 10px solid transparent;
  padding: 0px;
  border-image: url(https://i.pinimg.com/originals/a9/1e/88/a91e881dbaf27fac4620dcb4992a9d39.jpg) 20% round;
  border-image-slice: 10;
  width: 50%;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.responsive {
  max-width: 100%;
  height: auto;
}

 @font-face{
font-family:wishful;
src: url("Wishfulwaves.ttf")
}

@font-face{
font-family:fun;
src: url("FunSized.ttf")
}

@font-face{
font-family:tt;
src: url("TT.ttf")
}

p {
  font-family: tt;
}

ol {
  font-family: tt;
}

h3 {
  font-family: tt; 
}


  .imageborder5 {
  border: 5px dotted cyan;
  padding: 0px;
  border-image: url(https://dijf55il5e0d1.cloudfront.net/images/na/6/6/4/66480_1000.jpg) 20% round;
  border-image-slice: 10;
  width: 50%;
}