h1 { 
  text-align: center;
}
h1:hover {
  color: blue;
}

h2 { 
  text-align: center;
  animation: hi 3s infinite;
}

@keyframes hi {
  0% {background: white;}
  25% {background: rgba(0, 255, 191, 0.26)}
  50% {background: lightblue;}
  75% {background: rgba(0, 225, 255, 0.76);}
  100% {background: rgba(0, 255, 179, 0.548);}
}


img {
  opacity: 0.8;
  background: beige;
  border: 2px solid #33ccff;
}

body {
  background: linear-gradient(to right, #ffffff 0%, #33ccff 100%);
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: rgb(34, 34, 34);
}

.topnav a {
  float: left;
  color: #0eaedfa6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: flex;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.sticky {
  position: sticky;
  margin: 0px;
  top: 0px;
  z-index: 1;
}
